[submodule "libraries/ActionBarSherlock"]
	path = libraries/ActionBarSherlock
	url = git@bitbucket.org:mareksebera/actionbarsherlock-eclipse.git
[submodule "libraries/Android-Universal-Image-Loader"]
	path = libraries/Android-Universal-Image-Loader
	url = git://github.com/nostra13/Android-Universal-Image-Loader.git
