[submodule "libraries/Android-Universal-Image-Loader"]
	path = libraries/Android-Universal-Image-Loader
	url = https://github.com/nostra13/Android-Universal-Image-Loader.git
[submodule "libraries/ActionBarSherlock"]
	path = libraries/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "doc"]
	path = doc
	url = https://github.com/smarek/Simple-Dilbert.git
	branch = gh-pages
[submodule "libraries/PhotoView"]
	path = libraries/PhotoView
	url = https://github.com/smarek/PhotoView.git
