<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mareksebera.simpledilbert"
    android:versionCode="13"
    android:versionName="2.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.mareksebera.simpledilbert.DilbertActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mareksebera.simpledilbert.FavoritedActivity" />
        <activity android:name="com.mareksebera.simpledilbert.ImageZoomActivity" />
    </application>

</manifest>