<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mareksebera.simpledilbert"
    android:versionCode="14"
    android:versionName="2.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.mareksebera.simpledilbert.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.mareksebera.simpledilbert.DilbertActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mareksebera.simpledilbert.FavoritedActivity" />
        <activity android:name="com.mareksebera.simpledilbert.ImageZoomActivity" />

        <receiver
            android:name="com.mareksebera.simpledilbert.WidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Simple Dilbert Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_widget" />
        </receiver>
    </application>

</manifest>