<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mareksebera.simpledilbert">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mareksebera.simpledilbert.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name="com.mareksebera.simpledilbert.core.DilbertFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="dilbert.com" />
                <data android:host="www.dilbert.com" />
                <data android:pathPattern="/....-..-../" />
                <data android:pathPattern="/strips/....-..-../" />
                <data android:pathPattern="/strip/....-..-../" />
            </intent-filter>
        </activity>
        <activity android:name=".picker.FolderPickerActivity" />
        <activity android:name="com.mareksebera.simpledilbert.favorites.DilbertFavoritedActivity" />
        <activity android:name="com.mareksebera.simpledilbert.preferences.DilbertPreferencesActivity" />

        <receiver
            android:name=".widget.WidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Simple Dilbert Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.mareksebera.simpledilbert.widget.PREVIOUS" />
                <action android:name="com.mareksebera.simpledilbert.widget.NEXT" />
                <action android:name="com.mareksebera.simpledilbert.widget.LATEST" />
                <action android:name="com.mareksebera.simpledilbert.widget.RANDOM" />
                <action android:name="com.mareksebera.simpledilbert.widget.REFRESH" />
                <action android:name="com.mareksebera.simpledilbert.widget.DISPLAY" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_widget" />
        </receiver>

        <receiver android:name=".utilities.DownloadManagerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
